.row_root {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  padding: 20px;
}

.checkbox {
  height: 100%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.buttons {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.company_name {
  width: 30%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.company_address {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.button_remove {
  width: 20px;
}
